.ft-countdown-timer {
    .timer {
        border-radius: 50%;
    }

    .timerCircle {
        fill: transparent;
        stroke-dasharray: 100 100;
        stroke-dashoffset: 0;
        -moz-transition: stroke-dashoffset 1s;
        -o-transition: stroke-dashoffset 1s;
        -webkit-transition: stroke-dashoffset 1s;
        transition: stroke-dashoffset 1s;
        -moz-transition-timing-function: linear;
        -o-transition-timing-function: linear;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
    }

    .timerText {
        font-family: brandon-grotesque, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: bold;
        text-anchor: middle;
    }

    .timerVertLine {
        fill: transparent;
        stroke-opacity: .5;
    }

    &:hover .timerVertLine {
        stroke-opacity: 1;
    }
}

// ------------------------------------------------------------------------------------------ Layout for Intro component
.ft-pause-button .ft-countdown-timer {
    .timer {
        position: absolute;
        top: 0;
        left: 0;
    }

    .timerCircle {
        stroke: #222;
        stroke-opacity: .2;
    }

    .timerText {
        fill: rgba(34, 34, 34, 0.7);
        font-size: 20px;
    }

    .timerVertLine {
        stroke: #222;
    }
}
// ------------------------------------------------------------------------------------------ Layout for any button that is timed
.ft-btn .ft-countdown-timer {
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    width: 20px;
    margin: 0 5px;

    .timerCircle {
        stroke: #fff;
    }

    .timerText {
        fill: rgba(255, 255, 255, 0.7);
        font-size: 20px;
    }

    .timerVertLine {
        stroke: #fff;
    }
}
