.ft-countdown-timer .timer {
  border-radius: 50%;
}
.ft-countdown-timer .timerCircle {
  fill: transparent;
  stroke-dasharray: 100 100;
  stroke-dashoffset: 0;
  -moz-transition: stroke-dashoffset 1s;
  -o-transition: stroke-dashoffset 1s;
  -webkit-transition: stroke-dashoffset 1s;
  transition: stroke-dashoffset 1s;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
.ft-countdown-timer .timerText {
  font-family: brandon-grotesque, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-anchor: middle;
}
.ft-countdown-timer .timerVertLine {
  fill: transparent;
  stroke-opacity: .5;
}
.ft-countdown-timer:hover .timerVertLine {
  stroke-opacity: 1;
}
.ft-pause-button .ft-countdown-timer .timer {
  position: absolute;
  top: 0;
  left: 0;
}
.ft-pause-button .ft-countdown-timer .timerCircle {
  stroke: #222;
  stroke-opacity: .2;
}
.ft-pause-button .ft-countdown-timer .timerText {
  fill: rgba(34, 34, 34, 0.7);
  font-size: 20px;
}
.ft-pause-button .ft-countdown-timer .timerVertLine {
  stroke: #222;
}
.ft-btn .ft-countdown-timer {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 20px;
  margin: 0 5px;
}
.ft-btn .ft-countdown-timer .timerCircle {
  stroke: #fff;
}
.ft-btn .ft-countdown-timer .timerText {
  fill: rgba(255, 255, 255, 0.7);
  font-size: 20px;
}
.ft-btn .ft-countdown-timer .timerVertLine {
  stroke: #fff;
}
