.ft-photos-list {
    -moz-transform: rotate(30deg) skew(-10.9deg, -9deg);
    -ms-transform: rotate(30deg) skew(-10.9deg, -9deg);
    -o-transform: rotate(30deg) skew(-10.9deg, -9deg);
    -webkit-transform: rotate(30deg) skew(-10.9deg, -9deg);
    transform: rotate(30deg) skew(-10.9deg, -9deg);

    .ft-photo {
        position: absolute;
        background: center center no-repeat;
        background-size: cover;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
        overflow: hidden;

        &:before {
            content: "";
            display: block;
            padding-top: 75%;
        }
    }
}
// ------------------------------------------------------------------------------------------ Layout for Intro component
.ft-confirmation-intro .ft-photos-list {

    &.ft-count-3 {
        .ft-photo-1 {
            width: 250px;
            top: 170px;
            left: -300px;
        }

        .ft-photo-2 {
            width: 350px;
            top: 290px;
            left: -690px;
        }

        .ft-photo-3 {
            width: 500px;
            top: -110px;
            left: -830px;
        }

        .ft-photo:not(.ft-photo-1):not(.ft-photo-2):not(.ft-photo-3) {
            // Force hide all others. Shouldn't need this as elements should not be present in DOM, but just in case...
            visibility: hidden;
        }
    }

    &.ft-count-5 {
        .ft-photo-1 {
            width: 300px;
            top: 470px;
            left: 40px;
        }

        .ft-photo-2 {
            width: 450px;
            top: 390px;
            left: -450px;
        }

        .ft-photo-3 {
            width: 500px;
            top: -10px;
            left: -810px;
        }

        .ft-photo-4 {
            width: 400px;
            top: -350px;
            left: -870px;
        }

        .ft-photo-5 {
            width: 320px;
            top: -630px;
            left: -650px;
        }

        .ft-photo:not(.ft-photo-1):not(.ft-photo-2):not(.ft-photo-3):not(.ft-photo-4):not(.ft-photo-5) {
            // Force hide all others. Shouldn't need this as elements should not be present in DOM, but just in case...
            visibility: hidden;
        }
    }

    &.ft-count-10 {
        .ft-photo-1 {
            width: 300px;
            top: 320px;
            left: 240px;
        }

        .ft-photo-2 {
            width: 450px;
            top: 380px;
            left: -240px;
        }

        .ft-photo-3 {
            width: 350px;
            top: 380px;
            left: -620px;
        }

        .ft-photo-4 {
            width: 350px;
            top: 100px;
            left: -550px;
        }

        .ft-photo-5 {
            width: 450px;
            top: -260px;
            left: -780px;
        }

        .ft-photo-6 {
            width: 300px;
            top: -540px;
            left: -620px;
        }

        .ft-photo-7 {
            width: 200px;
            top: -430px;
            left: -840px;
        }

        .ft-photo-8 {
            width: 250px;
            top: -620px;
            left: -270px;
        }

        .ft-photo-9 {
            width: 250px;
            top: -260px;
            left: -1050px;
        }

        .ft-photo-10 {
            width: 350px;
            top: 100px;
            left: -930px;
        }
    }

    &.ft-hotel-photo {
        // If fallback to hotel photo(s), use count-3 layout and vary background position
        .ft-photo {
            background-size: 250%;
        }

        .ft-photo-1 {
            width: 250px;
            top: 170px;
            left: -300px;
            background-position: top right;
        }

        .ft-photo-2 {
            width: 350px;
            top: 290px;
            left: -690px;
            background-position: bottom left;
        }

        .ft-photo-3 {
            width: 500px;
            top: -110px;
            left: -830px;
            background-position: center center;
        }

        .ft-photo:not(.ft-photo-1):not(.ft-photo-2):not(.ft-photo-3) {
            // Force hide all others. Shouldn't need this as elements should not be present in DOM, but just in case...
            visibility: hidden;
        }
    }

    .ft-photo-details {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        font-size: 12px;
        line-height: 1.4;
        color: #fff;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .66) 100%);
    }

    .ft-profile-pic {
        width: 40px;
        height: 40px;
        margin-bottom: .5em;
    }

    .ft-photo-caption {
        max-height: 4em;
        overflow: hidden;
    }

    @media (max-width: 479px) {
        &.ft-photo-1 {
            width: 600px !important;
            top: 70px !important;
            left: 40px !important;
        }

        &.ft-photo-2 {
            width: 400px !important;
            top: -240px !important;
            left: 240px !important;
        }

        &.ft-photo-3 {
            width: 400px !important;
            top: -240px !important;
            left: -170px !important;
        }

        .ft-photo:not(.ft-photo-1):not(.ft-photo-2):not(.ft-photo-3) {
            // Force hide all others for mobile view, regardless of how many are loaded in the photo count.
            visibility: hidden;
        }
    }
}
// ------------------------------------------------------------------------------------------ Layout for Reopener component
.ft-confirmation-reopener .ft-photos-list {
    -moz-transform: rotate(30deg) skew(-10.9deg, -9deg);
    -ms-transform: rotate(30deg) skew(-10.9deg, -9deg);
    -o-transform: rotate(30deg) skew(-10.9deg, -9deg);
    -webkit-transform: rotate(30deg) skew(-10.9deg, -9deg);
    transform: rotate(30deg) skew(-10.9deg, -9deg);

    .ft-photo {
        box-shadow: none;
    }

    &.ft-count-3 {
        .ft-photo-1 {
            width: 150px;
            bottom: 10px;
            left: -195px;
        }

        .ft-photo-2 {
            width: 240px;
            bottom: 0px;
            left: -40px;

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .66) 100%);
            }
        }

        .ft-photo-3 {
            width: 120px;
            bottom: 60px;
            left: 205px;
        }

        .ft-photo:not(.ft-photo-1):not(.ft-photo-2):not(.ft-photo-3) {
            // Force hide all others. Shouldn't need this as elements should not be present in DOM, but just in case...
            visibility: hidden;
        }
    }

    &.ft-count-5 {
        .ft-photo-1 {
            width: 60px;
            bottom: 130px;
            left: -105px;
        }

        .ft-photo-2 {
            width: 150px;
            bottom: 10px;
            left: -195px;
        }

        .ft-photo-3 {
            width: 200px;
            bottom: 60px;
            left: -40px;

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .66) 100%);
            }
        }

        .ft-photo-4 {
            width: 120px;
            bottom: 80px;
            left: 165px;
        }

        .ft-photo-5 {
            width: 200px;
            bottom: -95px;
            left: -40px;
        }
    }

    &.ft-hotel-photo {
        // If fallback to hotel photo(s), use count-3 layout and vary background position
        .ft-photo {
            background-size: 250%;
        }

        .ft-photo-1 {
            width: 150px;
            bottom: 10px;
            left: -195px;
            background-position: top left;
        }

        .ft-photo-2 {
            width: 240px;
            bottom: 0px;
            left: -40px;
            background-position: center center;

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .66) 50%);
            }
        }

        .ft-photo-3 {
            width: 120px;
            bottom: 60px;
            left: 205px;
            background-position: bottom right;
        }

        .ft-photo:not(.ft-photo-1):not(.ft-photo-2):not(.ft-photo-3) {
            // Force hide all others. Shouldn't need this as elements should not be present in DOM, but just in case...
            visibility: hidden;
        }
    }

    .ft-photo-details {
        display: none;
    }
}
