.ft-confirmation-intro {
  -moz-animation: ft-fadeIn 0.75s cubic-bezier(0, 0, 0.1, 1) both;
  -o-animation: ft-fadeIn 0.75s cubic-bezier(0, 0, 0.1, 1) both;
  -webkit-animation: ft-fadeIn 0.75s cubic-bezier(0, 0, 0.1, 1) both;
  animation: ft-fadeIn 0.75s cubic-bezier(0, 0, 0.1, 1) both;
}
.ft-confirmation-intro .ft-photo {
  -moz-animation: ft-confirmation-photo-enter 1s cubic-bezier(0, 0, 0.1, 1) both;
  -o-animation: ft-confirmation-photo-enter 1s cubic-bezier(0, 0, 0.1, 1) both;
  -webkit-animation: ft-confirmation-photo-enter 1s cubic-bezier(0, 0, 0.1, 1) both;
  animation: ft-confirmation-photo-enter 1s cubic-bezier(0, 0, 0.1, 1) both;
}
.ft-confirmation-intro .ft-photo.ft-photo-8 {
  -moz-animation-delay: .5s;
  -o-animation-delay: .5s;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}
.ft-confirmation-intro .ft-photo.ft-photo-7 {
  -moz-animation-delay: .6s;
  -o-animation-delay: .6s;
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}
.ft-confirmation-intro .ft-photo.ft-photo-6 {
  -moz-animation-delay: .7s;
  -o-animation-delay: .7s;
  -webkit-animation-delay: .7s;
  animation-delay: .7s;
}
.ft-confirmation-intro .ft-photo.ft-photo-5 {
  -moz-animation-delay: .8s;
  -o-animation-delay: .8s;
  -webkit-animation-delay: .8s;
  animation-delay: .8s;
}
.ft-confirmation-intro .ft-photo.ft-photo-4 {
  -moz-animation-delay: .9s;
  -o-animation-delay: .9s;
  -webkit-animation-delay: .9s;
  animation-delay: .9s;
}
.ft-confirmation-intro .ft-photo.ft-photo-3 {
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.ft-confirmation-intro .ft-photo.ft-photo-2 {
  -moz-animation-delay: 1.1s;
  -o-animation-delay: 1.1s;
  -webkit-animation-delay: 1.1s;
  animation-delay: 1.1s;
}
.ft-confirmation-intro .ft-photo.ft-photo-1 {
  -moz-animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.ft-confirmation-intro .ft-photo.ft-photo-9 {
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.ft-confirmation-intro .ft-photo.ft-photo-10 {
  -moz-animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.ft-confirmation-intro .ft-intro-content {
  -moz-animation: ft-fadeIn-slideUp 1s cubic-bezier(0, 0, 0.1, 1) both;
  -o-animation: ft-fadeIn-slideUp 1s cubic-bezier(0, 0, 0.1, 1) both;
  -webkit-animation: ft-fadeIn-slideUp 1s cubic-bezier(0, 0, 0.1, 1) both;
  animation: ft-fadeIn-slideUp 1s cubic-bezier(0, 0, 0.1, 1) both;
  -moz-animation-delay: 1.3s;
  -o-animation-delay: 1.3s;
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s;
}
.ft-confirmation-intro .ft-intro-timer.ft-is-paused .ft-pause-button {
  -moz-animation: ft-fadeOut-scaleDown 0.5s cubic-bezier(0.7, 0, 0.1, 1) forwards;
  -o-animation: ft-fadeOut-scaleDown 0.5s cubic-bezier(0.7, 0, 0.1, 1) forwards;
  -webkit-animation: ft-fadeOut-scaleDown 0.5s cubic-bezier(0.7, 0, 0.1, 1) forwards;
  animation: ft-fadeOut-scaleDown 0.5s cubic-bezier(0.7, 0, 0.1, 1) forwards;
  -moz-transition: 0s linear;
  -o-transition: 0s linear;
  -webkit-transition: 0s linear;
  transition: 0s linear;
  -moz-transition-property: width, height, max-height;
  -o-transition-property: width, height, max-height;
  -webkit-transition-property: width, height, max-height;
  transition-property: width, height, max-height;
  -moz-transition-delay: .5s;
  -o-transition-delay: .5s;
  -webkit-transition-delay: .5s;
  transition-delay: .5s;
  width: 0 !important;
  height: 0 !important;
  max-height: 0 !important;
  overflow: hidden;
}
.ft-confirmation-intro .ft-intro-timer.ft-is-paused:after {
  -moz-animation: ft-fadeOut-slideDown 1s cubic-bezier(0.7, 0, 0.1, 1) forwards;
  -o-animation: ft-fadeOut-slideDown 1s cubic-bezier(0.7, 0, 0.1, 1) forwards;
  -webkit-animation: ft-fadeOut-slideDown 1s cubic-bezier(0.7, 0, 0.1, 1) forwards;
  animation: ft-fadeOut-slideDown 1s cubic-bezier(0.7, 0, 0.1, 1) forwards;
  -moz-animation-delay: .25s;
  -o-animation-delay: .25s;
  -webkit-animation-delay: .25s;
  animation-delay: .25s;
}
.ft-confirmation-main .ft-bg-image {
  -moz-animation: ft-confirmation-main-image-enter 2s cubic-bezier(0, 0, 0.1, 1) both;
  -o-animation: ft-confirmation-main-image-enter 2s cubic-bezier(0, 0, 0.1, 1) both;
  -webkit-animation: ft-confirmation-main-image-enter 2s cubic-bezier(0, 0, 0.1, 1) both;
  animation: ft-confirmation-main-image-enter 2s cubic-bezier(0, 0, 0.1, 1) both;
}
.ft-confirmation-main .ft-bg-image-blur {
  -moz-animation: ft-fadeIn 1s cubic-bezier(0.7, 0, 0.1, 1) both;
  -o-animation: ft-fadeIn 1s cubic-bezier(0.7, 0, 0.1, 1) both;
  -webkit-animation: ft-fadeIn 1s cubic-bezier(0.7, 0, 0.1, 1) both;
  animation: ft-fadeIn 1s cubic-bezier(0.7, 0, 0.1, 1) both;
  -moz-animation-delay: .5s;
  -o-animation-delay: .5s;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}
.ft-confirmation-main .ft-bg-matte {
  -moz-animation: ft-fadeIn 1s cubic-bezier(0.7, 0, 0.1, 1) both;
  -o-animation: ft-fadeIn 1s cubic-bezier(0.7, 0, 0.1, 1) both;
  -webkit-animation: ft-fadeIn 1s cubic-bezier(0.7, 0, 0.1, 1) both;
  animation: ft-fadeIn 1s cubic-bezier(0.7, 0, 0.1, 1) both;
  -moz-animation-delay: .5s;
  -o-animation-delay: .5s;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}
.ft-confirmation-main .ft-main-content {
  -moz-animation: ft-fadeIn-slideUp 1s cubic-bezier(0, 0, 0.1, 1) both;
  -o-animation: ft-fadeIn-slideUp 1s cubic-bezier(0, 0, 0.1, 1) both;
  -webkit-animation: ft-fadeIn-slideUp 1s cubic-bezier(0, 0, 0.1, 1) both;
  animation: ft-fadeIn-slideUp 1s cubic-bezier(0, 0, 0.1, 1) both;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.ft-confirmation-main .ft-share-view,
.ft-confirmation-main .ft-share-panel-view {
  -moz-animation: ft-fadeIn-slideUp 0.5s cubic-bezier(0, 0, 0.1, 1);
  -o-animation: ft-fadeIn-slideUp 0.5s cubic-bezier(0, 0, 0.1, 1);
  -webkit-animation: ft-fadeIn-slideUp 0.5s cubic-bezier(0, 0, 0.1, 1);
  animation: ft-fadeIn-slideUp 0.5s cubic-bezier(0, 0, 0.1, 1);
}
.ft-confirmation-reopener:before {
  -moz-animation: ft-fadeIn 0.5s cubic-bezier(0, 0, 0.1, 1) forwards;
  -o-animation: ft-fadeIn 0.5s cubic-bezier(0, 0, 0.1, 1) forwards;
  -webkit-animation: ft-fadeIn 0.5s cubic-bezier(0, 0, 0.1, 1) forwards;
  animation: ft-fadeIn 0.5s cubic-bezier(0, 0, 0.1, 1) forwards;
}
.ft-confirmation-reopener .ft-photo {
  -moz-animation: ft-confirmation-photo-enter 0.75s cubic-bezier(0, 0, 0.1, 1) both;
  -o-animation: ft-confirmation-photo-enter 0.75s cubic-bezier(0, 0, 0.1, 1) both;
  -webkit-animation: ft-confirmation-photo-enter 0.75s cubic-bezier(0, 0, 0.1, 1) both;
  animation: ft-confirmation-photo-enter 0.75s cubic-bezier(0, 0, 0.1, 1) both;
}
.ft-confirmation-reopener .ft-photo.ft-photo-1 {
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.ft-confirmation-reopener .ft-photo.ft-photo-2 {
  -moz-animation-delay: .1s;
  -o-animation-delay: .1s;
  -webkit-animation-delay: .1s;
  animation-delay: .1s;
}
.ft-confirmation-reopener .ft-photo.ft-photo-3 {
  -moz-animation-delay: .2s;
  -o-animation-delay: .2s;
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}
.ft-confirmation-reopener .ft-photo.ft-photo-4 {
  -moz-animation-delay: .3s;
  -o-animation-delay: .3s;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
.ft-confirmation-reopener .ft-photo.ft-photo-5 {
  -moz-animation-delay: .4s;
  -o-animation-delay: .4s;
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}
.ft-confirmation-reopener .ft-profile-pic {
  -moz-animation: ft-confirmation-reopener-profile-enter 0.5s cubic-bezier(0, 0, 0.1, 1) both;
  -o-animation: ft-confirmation-reopener-profile-enter 0.5s cubic-bezier(0, 0, 0.1, 1) both;
  -webkit-animation: ft-confirmation-reopener-profile-enter 0.5s cubic-bezier(0, 0, 0.1, 1) both;
  animation: ft-confirmation-reopener-profile-enter 0.5s cubic-bezier(0, 0, 0.1, 1) both;
  -moz-animation-delay: .5s;
  -o-animation-delay: .5s;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}
.ft-confirmation-reopener .ft-reopener-message {
  -moz-animation: ft-confirmation-reopener-message-enter 0.5s cubic-bezier(0, 0, 0.1, 1) both;
  -o-animation: ft-confirmation-reopener-message-enter 0.5s cubic-bezier(0, 0, 0.1, 1) both;
  -webkit-animation: ft-confirmation-reopener-message-enter 0.5s cubic-bezier(0, 0, 0.1, 1) both;
  animation: ft-confirmation-reopener-message-enter 0.5s cubic-bezier(0, 0, 0.1, 1) both;
  -moz-animation-delay: .5s;
  -o-animation-delay: .5s;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}
.ft-confirmation-reopener .ft-reopener-close {
  -moz-animation: ft-fadeIn 0.5s cubic-bezier(0, 0, 0.1, 1) both;
  -o-animation: ft-fadeIn 0.5s cubic-bezier(0, 0, 0.1, 1) both;
  -webkit-animation: ft-fadeIn 0.5s cubic-bezier(0, 0, 0.1, 1) both;
  animation: ft-fadeIn 0.5s cubic-bezier(0, 0, 0.1, 1) both;
  -moz-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
@keyframes ft-confirmation-photo-enter {
  0% {
    opacity: 0;
    -moz-transform: translate3d(70px, 100px, 0);
    -ms-transform: translate3d(70px, 100px, 0);
    -o-transform: translate3d(70px, 100px, 0);
    -webkit-transform: translate3d(70px, 100px, 0);
    transform: translate3d(70px, 100px, 0);
  }
  100% {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes ft-confirmation-main-image-enter {
  0% {
    opacity: 0;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes ft-confirmation-reopener-profile-enter {
  0% {
    opacity: 0;
    -moz-transform: scale(0.8) translateZ(0);
    -ms-transform: scale(0.8) translateZ(0);
    -o-transform: scale(0.8) translateZ(0);
    -webkit-transform: scale(0.8) translateZ(0);
    transform: scale(0.8) translateZ(0);
  }
  50% {
    opacity: 1;
    -moz-transform: scale(1) translateZ(0);
    -ms-transform: scale(1) translateZ(0);
    -o-transform: scale(1) translateZ(0);
    -webkit-transform: scale(1) translateZ(0);
    transform: scale(1) translateZ(0);
  }
}
@keyframes ft-confirmation-reopener-message-enter {
  0% {
    opacity: 0;
    -moz-transform: translate3d(0, 20px, 0);
    -ms-transform: translate3d(0, 20px, 0);
    -o-transform: translate3d(0, 20px, 0);
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes ft-fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ft-fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes ft-fadeIn-slideUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes ft-fadeOut-slideDown {
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
}
@keyframes ft-fadeIn-scaleUp {
  0% {
    opacity: 0;
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes ft-fadeIn-scaleDown {
  0% {
    opacity: 0;
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes ft-fadeOut-scaleUp {
  0% {
    opacity: 1;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 0;
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes ft-fadeOut-scaleDown {
  0% {
    opacity: 1;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 0;
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
}
