// .ft-confirmation-app is the app shell and contains 3 components - intro, main, and reopener.
// .ft-confirmation-component is the shared css hook for each component.


/* ---------------------------------------------------------------------------------------------------- Display behavior */
// .ft-app-open is applied to the html when intro and main are open.
.ft-app-open {
    body {
        overflow: hidden;
    }
}
/* ---------------------------------------------------------------------------------------------------- End Display behavior */
.ft-confirmation-component {
    font-family: museo-sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6;
    color: #222;

    @media (min-width: 1200px) {
        font-size: 16px;
    }

    &.ft-overlay {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        z-index: 9999;
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    }
    /* ---------------------------------------------------------------------------------------------------- MIXINS */
    /* -------------------------------------------------- Typography */
    .ft-font-2 {
        font-family: brandon-grotesque, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: bold;
        text-transform: uppercase;
    }
    /* -------------------------------------------------- Layout */
    .ft-v-align {
        position: relative;
        top: 50%;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .ft-v-align-container {
        display: table;
        width: 100%;
        height: 100%;
    }

    .ft-v-align-content {
        display: table-cell;
        vertical-align: middle;
    }

    .ft-h-align {
        position: relative;
        left: 50%;
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .ft-vh-align {
        position: relative;
        top: 50%;
        left: 50%;
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    // Clearfix
    //
    // For modern browsers
    // 1. The space content is one way to avoid an Opera bug when the
    //    contenteditable attribute is included anywhere else in the document.
    //    Otherwise it causes space to appear at the top and bottom of elements
    //    that are clearfixed.
    // 2. The use of `table` rather than `block` is only necessary if using
    //    `:before` to contain the top-margins of child elements.
    //
    // Source: http://nicolasgallagher.com/micro-clearfix-hack/
    .ft-clearfix {
        &:before,
        &:after {
            content: " "; // 1
            display: table; // 2
        }

        &:after {
            clear: both;
        }
    }
    /* ---------------------------------------------------------------------------------------------------- GENERAL / LAYOUT */
    &,
    & *,
    & :before,
    & :after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
    }

    .ft-container,
    .ft-container-fluid {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        .ft-clearfix;

        @media (max-width: 767px) {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .ft-container {
        max-width: 75em;
    }
    /* ---------------------------------------------------------------------------------------------------- GENERAL / TYPOGRAPHY */
    p {
        /* Prevent <p> from inheriting unwanted styles from parent page */
        margin: 0 !important;
        padding: 0 !important;
        font-family: inherit !important;
        font-size: inherit !important;
        line-height: inherit !important;
        color: inherit !important;
        text-align: inherit !important;
    }

    em {
        font-weight: 500;
    }

    strong,
    b {
        font-weight: 700;
    }

    label {
        font-weight: 500;
    }
    /* -------------------------------------------------- Responsive text sizes */
    .ft-text-plus-4 {
        font-size: 32px;
        line-height: 1.3;
    }

    .ft-text-plus-3 {
        font-size: 28px;
        line-height: 1.3;
    }

    .ft-text-plus-2 {
        font-size: 18px;
    }

    .ft-text-plus-1 {
        font-size: 16px;
    }

    .ft-text-minus-1 {
        font-size: 12px;
    }

    .ft-text-minus-2 {
        font-size: 10px;
    }

    .ft-text-minus-3 {
        font-size: 8px;
    }

    @media (min-width: 768px) {
        /* Small screens */
        .ft-text-plus-4 {
            font-size: 36px;
        }

        .ft-text-plus-3 {
            font-size: 32px;
        }

        .ft-text-plus-2 {
            font-size: 20px;
        }

        .ft-text-plus-1 {
            font-size: 16px;
        }
    }

    @media (min-width: 992px) {
        /* Medium screens */
        .ft-text-plus-4 {
            font-size: 40px;
        }

        .ft-text-plus-3 {
            font-size: 36px;
        }

        .ft-text-plus-2 {
            font-size: 24px;
            line-height: 1.4;
        }

        .ft-text-plus-1 {
            font-size: 18px;
        }
    }

    @media (min-width: 1600px) {
        /* Large screens */
        .ft-text-plus-4 {
            font-size: 44px;
        }

        .ft-text-plus-3 {
            font-size: 40px;
        }

        .ft-text-plus-2 {
            font-size: 28px;
            line-height: 1.3;
        }

        .ft-text-plus-1 {
            font-size: 22px;
            line-height: 1.4;
        }

        .ft-text-minus-1 {
            // base font-size is 16px for large screens
            font-size: 14px;
        }

        .ft-text-minus-2 {
            font-size: 12px;
        }

        .ft-text-minus-3 {
            font-size: 10px;
        }
    }
    /* -------------------------------------------------- End Responsive text sizes */
    .ft-supertitle,
    .ft-subtitle,
    .ft-section-supertitle,
    .ft-count {
        .ft-font-2;
    }

    .ft-heading {
        line-height: 1.2;
    }

    .ft-p {
    }

    .ft-summary {
    }

    .ft-text-block {
        /* Use for limiting width on long text for readability */
        max-width: 40em;
    }

    .ft-text-placeholder {
        opacity: .5;
    }

    sup,
    sub {
        vertical-align: baseline;
        position: relative;
        top: -.7em;
        font-size: .5em;
    }

    sub {
        top: 0;
    }
    // ---------- Adjacent selector patterns
    .ft-heading + .ft-summary {
        margin-top: .5em;
    }

    .ft-heading + .ft-p,
    .ft-p + .ft-p {
        margin-top: 1em;
    }

    .ft-heading + .ft-btn,
    .ft-p + .ft-btn {
        margin-top: 1em;
    }

    .ft-p-small {
        font-size: .75em;
    }
    /* ---------------------------------------------------------------------------------------------------- ELEMENTS / BUTTONS */
    a {
        font-size: inherit;
        font-weight: 500;
        text-decoration: underline;
        color: #4A90E2;
        cursor: pointer; // &:hover,
        // &:focus {
        //     color: #005481;
        // }
    }
    // i {
    //     // used for icons
    //     display: inline-block;
    //     text-decoration: none;
    //     font-style: normal;
    // }
    .ft-btn {
        display: inline-block;
        font-weight: 500;
        text-align: center;
        text-decoration: none;
        color: #40494f;
        padding: 6px 15px;
        border: 1px solid #e0e0e0;
        border-radius: 4px;
        background-repeat: repeat-x;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
        cursor: pointer;
        -moz-transition: .2s ease-in-out;
        -o-transition: .2s ease-in-out;
        -webkit-transition: .2s ease-in-out;
        transition: .2s ease-in-out;
        -moz-transition-property: opacity, color, background-color, border-color, background-image;
        -o-transition-property: opacity, color, background-color, border-color, background-image;
        -webkit-transition-property: opacity, color, background-color, border-color, background-image;
        transition-property: opacity, color, background-color, border-color, background-image;
    }

    .ft-btn-lg {
        padding: 12px 15px;
        min-width: 120px;
        font-size: 16px;
    }

    .ft-btn-outline-light {
        color: #fff !important;
        border: 1px solid rgba(255, 255, 255, 0.3);
        background-color: transparent;
        box-shadow: none;

        &:hover,
        &:focus {
            border-color: rgba(255, 255, 255, 1);
        }
    }

    .ft-btn-group {
        position: relative;
        display: inline-block;

        .ft-btn {
            float: left;
            background-color: #e0e0e0;
            margin-bottom: 0;

            &.active {
                color: #222;
                background-color: #fff;
            }

            &:not(.active):hover,
            &:not(.active):focus {
                background-color: #f3f3f6;
            }

            &:first-child {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            &:last-child {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            &:not(:first-child):not(:last-child) {
                border-radius: 0;
            }
        }
    }

    .ft-btn-close {
        width: 24px;
        height: 24px;
        padding: 0;
        background: none;
        border: 0;
        opacity: .7;
        -moz-transition: .3s;
        -o-transition: .3s;
        -webkit-transition: .3s;
        transition: .3s;
        cursor: pointer;

        .ft-btn-lines {
            position: absolute;
            top: 50%;
            display: inline-block;
            width: 24px;
            height: 3px;
            background: transparent;
            border-radius: 2px;
            -moz-transition: .3s;
            -o-transition: .3s;
            -webkit-transition: .3s;
            transition: .3s;

            &:before,
            &:after {
                content: "";
                position: absolute;
                left: 0;
                width: 24px;
                height: 3px;
                background: #fff;
                border-radius: 2px;
                -moz-transition: .3s;
                -o-transition: .3s;
                -webkit-transition: .3s;
                transition: .3s;
            }

            &:before {
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }

            &:after {
                -moz-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
        }

        &:hover,
        &:focus {
            opacity: 1;
        }
    }

    a,
    .btn {
        -moz-transition: .5s cubic-bezier(0, 0, 0.1, 1);
        -o-transition: .5s cubic-bezier(0, 0, 0.1, 1);
        -webkit-transition: .5s cubic-bezier(0, 0, 0.1, 1);
        transition: .5s cubic-bezier(0, 0, 0.1, 1);
        -moz-transition-property: opacity, color, background-color, border-color;
        -o-transition-property: opacity, color, background-color, border-color;
        -webkit-transition-property: opacity, color, background-color, border-color;
        transition-property: opacity, color, background-color, border-color;
    }
    /* ---------------------------------------------------------------------------------------------------- ELEMENTS / UNSORTED */
    .ft-profile-pic {
        width: 60px;
        height: 60px;
        border-radius: 60px;
        text-align: center;
        overflow: hidden;
        background: center center no-repeat;
        background-size: cover;
    }

    .ft-profile-name {
        .ft-font-2;
    }

    .ft-signature {
        .ft-profile-pic,
        .ft-person-info {
            margin: 0 auto;
        }

        .ft-profile-pic {
            margin-bottom: 10px;
        }

        .ft-person-info {
            line-height: 1.3;
        }

        @media (min-width: 480px) {
            .ft-profile-pic,
            .ft-person-info {
                display: inline-block;
                vertical-align: middle;
                margin: 0;
            }

            .ft-profile-pic {
                margin-bottom: 0;
                margin-right: 10px;
            }

            .ft-person-info {
                text-align: left;
            }
        }
    }
}
