﻿/* ---------------------------------------------------------------------------------------------------- Display behavior */
.ft-app-open body {
  overflow: hidden;
}
/* ---------------------------------------------------------------------------------------------------- End Display behavior */
.ft-confirmation-component {
  font-family: museo-sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6;
  color: #222;
  /* ---------------------------------------------------------------------------------------------------- MIXINS */
  /* -------------------------------------------------- Typography */
  /* -------------------------------------------------- Layout */
  /* ---------------------------------------------------------------------------------------------------- GENERAL / LAYOUT */
  /* ---------------------------------------------------------------------------------------------------- GENERAL / TYPOGRAPHY */
  /* -------------------------------------------------- Responsive text sizes */
  /* -------------------------------------------------- End Responsive text sizes */
  /* ---------------------------------------------------------------------------------------------------- ELEMENTS / BUTTONS */
  /* ---------------------------------------------------------------------------------------------------- ELEMENTS / UNSORTED */
}
@media (min-width: 1200px) {
  .ft-confirmation-component {
    font-size: 16px;
  }
}
.ft-confirmation-component.ft-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.ft-confirmation-component .ft-font-2 {
  font-family: brandon-grotesque, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.ft-confirmation-component .ft-v-align {
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.ft-confirmation-component .ft-v-align-container {
  display: table;
  width: 100%;
  height: 100%;
}
.ft-confirmation-component .ft-v-align-content {
  display: table-cell;
  vertical-align: middle;
}
.ft-confirmation-component .ft-h-align {
  position: relative;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.ft-confirmation-component .ft-vh-align {
  position: relative;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.ft-confirmation-component .ft-clearfix:before,
.ft-confirmation-component .ft-clearfix:after {
  content: " ";
  display: table;
}
.ft-confirmation-component .ft-clearfix:after {
  clear: both;
}
.ft-confirmation-component,
.ft-confirmation-component *,
.ft-confirmation-component :before,
.ft-confirmation-component :after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
.ft-confirmation-component .ft-container,
.ft-confirmation-component .ft-container-fluid {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.ft-confirmation-component .ft-container:before,
.ft-confirmation-component .ft-container-fluid:before,
.ft-confirmation-component .ft-container:after,
.ft-confirmation-component .ft-container-fluid:after {
  content: " ";
  display: table;
}
.ft-confirmation-component .ft-container:after,
.ft-confirmation-component .ft-container-fluid:after {
  clear: both;
}
@media (max-width: 767px) {
  .ft-confirmation-component .ft-container,
  .ft-confirmation-component .ft-container-fluid {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.ft-confirmation-component .ft-container {
  max-width: 75em;
}
.ft-confirmation-component p {
  /* Prevent <p> from inheriting unwanted styles from parent page */
  margin: 0 !important;
  padding: 0 !important;
  font-family: inherit !important;
  font-size: inherit !important;
  line-height: inherit !important;
  color: inherit !important;
  text-align: inherit !important;
}
.ft-confirmation-component em {
  font-weight: 500;
}
.ft-confirmation-component strong,
.ft-confirmation-component b {
  font-weight: 700;
}
.ft-confirmation-component label {
  font-weight: 500;
}
.ft-confirmation-component .ft-text-plus-4 {
  font-size: 32px;
  line-height: 1.3;
}
.ft-confirmation-component .ft-text-plus-3 {
  font-size: 28px;
  line-height: 1.3;
}
.ft-confirmation-component .ft-text-plus-2 {
  font-size: 18px;
}
.ft-confirmation-component .ft-text-plus-1 {
  font-size: 16px;
}
.ft-confirmation-component .ft-text-minus-1 {
  font-size: 12px;
}
.ft-confirmation-component .ft-text-minus-2 {
  font-size: 10px;
}
.ft-confirmation-component .ft-text-minus-3 {
  font-size: 8px;
}
@media (min-width: 768px) {
  .ft-confirmation-component {
    /* Small screens */
  }
  .ft-confirmation-component .ft-text-plus-4 {
    font-size: 36px;
  }
  .ft-confirmation-component .ft-text-plus-3 {
    font-size: 32px;
  }
  .ft-confirmation-component .ft-text-plus-2 {
    font-size: 20px;
  }
  .ft-confirmation-component .ft-text-plus-1 {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .ft-confirmation-component {
    /* Medium screens */
  }
  .ft-confirmation-component .ft-text-plus-4 {
    font-size: 40px;
  }
  .ft-confirmation-component .ft-text-plus-3 {
    font-size: 36px;
  }
  .ft-confirmation-component .ft-text-plus-2 {
    font-size: 24px;
    line-height: 1.4;
  }
  .ft-confirmation-component .ft-text-plus-1 {
    font-size: 18px;
  }
}
@media (min-width: 1600px) {
  .ft-confirmation-component {
    /* Large screens */
  }
  .ft-confirmation-component .ft-text-plus-4 {
    font-size: 44px;
  }
  .ft-confirmation-component .ft-text-plus-3 {
    font-size: 40px;
  }
  .ft-confirmation-component .ft-text-plus-2 {
    font-size: 28px;
    line-height: 1.3;
  }
  .ft-confirmation-component .ft-text-plus-1 {
    font-size: 22px;
    line-height: 1.4;
  }
  .ft-confirmation-component .ft-text-minus-1 {
    font-size: 14px;
  }
  .ft-confirmation-component .ft-text-minus-2 {
    font-size: 12px;
  }
  .ft-confirmation-component .ft-text-minus-3 {
    font-size: 10px;
  }
}
.ft-confirmation-component .ft-supertitle,
.ft-confirmation-component .ft-subtitle,
.ft-confirmation-component .ft-section-supertitle,
.ft-confirmation-component .ft-count {
  font-family: brandon-grotesque, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.ft-confirmation-component .ft-heading {
  line-height: 1.2;
}
.ft-confirmation-component .ft-text-block {
  /* Use for limiting width on long text for readability */
  max-width: 40em;
}
.ft-confirmation-component .ft-text-placeholder {
  opacity: .5;
}
.ft-confirmation-component sup,
.ft-confirmation-component sub {
  vertical-align: baseline;
  position: relative;
  top: -0.7em;
  font-size: .5em;
}
.ft-confirmation-component sub {
  top: 0;
}
.ft-confirmation-component .ft-heading + .ft-summary {
  margin-top: .5em;
}
.ft-confirmation-component .ft-heading + .ft-p,
.ft-confirmation-component .ft-p + .ft-p {
  margin-top: 1em;
}
.ft-confirmation-component .ft-heading + .ft-btn,
.ft-confirmation-component .ft-p + .ft-btn {
  margin-top: 1em;
}
.ft-confirmation-component .ft-p-small {
  font-size: .75em;
}
.ft-confirmation-component a {
  font-size: inherit;
  font-weight: 500;
  text-decoration: underline;
  color: #4A90E2;
  cursor: pointer;
}
.ft-confirmation-component .ft-btn {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: #40494f;
  padding: 6px 15px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  background-repeat: repeat-x;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -moz-transition-property: opacity, color, background-color, border-color, background-image;
  -o-transition-property: opacity, color, background-color, border-color, background-image;
  -webkit-transition-property: opacity, color, background-color, border-color, background-image;
  transition-property: opacity, color, background-color, border-color, background-image;
}
.ft-confirmation-component .ft-btn-lg {
  padding: 12px 15px;
  min-width: 120px;
  font-size: 16px;
}
.ft-confirmation-component .ft-btn-outline-light {
  color: #fff !important;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  box-shadow: none;
}
.ft-confirmation-component .ft-btn-outline-light:hover,
.ft-confirmation-component .ft-btn-outline-light:focus {
  border-color: #ffffff;
}
.ft-confirmation-component .ft-btn-group {
  position: relative;
  display: inline-block;
}
.ft-confirmation-component .ft-btn-group .ft-btn {
  float: left;
  background-color: #e0e0e0;
  margin-bottom: 0;
}
.ft-confirmation-component .ft-btn-group .ft-btn.active {
  color: #222;
  background-color: #fff;
}
.ft-confirmation-component .ft-btn-group .ft-btn:not(.active):hover,
.ft-confirmation-component .ft-btn-group .ft-btn:not(.active):focus {
  background-color: #f3f3f6;
}
.ft-confirmation-component .ft-btn-group .ft-btn:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.ft-confirmation-component .ft-btn-group .ft-btn:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.ft-confirmation-component .ft-btn-group .ft-btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.ft-confirmation-component .ft-btn-close {
  width: 24px;
  height: 24px;
  padding: 0;
  background: none;
  border: 0;
  opacity: .7;
  -moz-transition: .3s;
  -o-transition: .3s;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}
.ft-confirmation-component .ft-btn-close .ft-btn-lines {
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 24px;
  height: 3px;
  background: transparent;
  border-radius: 2px;
  -moz-transition: .3s;
  -o-transition: .3s;
  -webkit-transition: .3s;
  transition: .3s;
}
.ft-confirmation-component .ft-btn-close .ft-btn-lines:before,
.ft-confirmation-component .ft-btn-close .ft-btn-lines:after {
  content: "";
  position: absolute;
  left: 0;
  width: 24px;
  height: 3px;
  background: #fff;
  border-radius: 2px;
  -moz-transition: .3s;
  -o-transition: .3s;
  -webkit-transition: .3s;
  transition: .3s;
}
.ft-confirmation-component .ft-btn-close .ft-btn-lines:before {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.ft-confirmation-component .ft-btn-close .ft-btn-lines:after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.ft-confirmation-component .ft-btn-close:hover,
.ft-confirmation-component .ft-btn-close:focus {
  opacity: 1;
}
.ft-confirmation-component a,
.ft-confirmation-component .btn {
  -moz-transition: 0.5s cubic-bezier(0, 0, 0.1, 1);
  -o-transition: 0.5s cubic-bezier(0, 0, 0.1, 1);
  -webkit-transition: 0.5s cubic-bezier(0, 0, 0.1, 1);
  transition: 0.5s cubic-bezier(0, 0, 0.1, 1);
  -moz-transition-property: opacity, color, background-color, border-color;
  -o-transition-property: opacity, color, background-color, border-color;
  -webkit-transition-property: opacity, color, background-color, border-color;
  transition-property: opacity, color, background-color, border-color;
}
.ft-confirmation-component .ft-profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  text-align: center;
  overflow: hidden;
  background: center center no-repeat;
  background-size: cover;
}
.ft-confirmation-component .ft-profile-name {
  font-family: brandon-grotesque, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.ft-confirmation-component .ft-signature .ft-profile-pic,
.ft-confirmation-component .ft-signature .ft-person-info {
  margin: 0 auto;
}
.ft-confirmation-component .ft-signature .ft-profile-pic {
  margin-bottom: 10px;
}
.ft-confirmation-component .ft-signature .ft-person-info {
  line-height: 1.3;
}
@media (min-width: 480px) {
  .ft-confirmation-component .ft-signature .ft-profile-pic,
  .ft-confirmation-component .ft-signature .ft-person-info {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }
  .ft-confirmation-component .ft-signature .ft-profile-pic {
    margin-bottom: 0;
    margin-right: 10px;
  }
  .ft-confirmation-component .ft-signature .ft-person-info {
    text-align: left;
  }
}