<div class="ft-confirmation-component ft-confirmation-main ft-overlay">
    <div class="ft-btn-close" (click)="onClose()">
        <span class="ft-btn-lines"></span>
    </div>
    <div class="ft-main-image">
        <div class="ft-bg-image" [ftBackgroundImage]="property?.BackgroundPicture"></div>
        <div class="ft-bg-image-blur" [ftBackgroundImage]="property?.BackgroundPicture"></div>
        <div class="ft-bg-matte"></div>
    </div>
    <div class="ft-main-content ft-v-align-container">
        <div class="ft-v-align-content">
            <div class="ft-container">
                <div class="ft-share-view active" [ngClass]="{active: (screen | async) === SHARE_SCREEN}">
                    <div class="ft-treat-message ft-text-plus-1" i18n="xxx|yyy@@main.zzz">
                        We'd like to send a small gift to your friends &amp; family and treat you to something nice when you arrive.
                    </div>
                    <ft-panels>
                        <div class="ft-share-panel">
                            <div class="ft-share-panel-tabs-divider">
                                <div class="ft-share-panel-tabs ft-btn-group ft-btn-group-lg">
                                    <div class="ft-btn"
                                         i18n="xxx|yyy@@main.zzz"
                                         ft-set-active-panel="forYou"
                                         [class.active]="forYouPanel.isActive">For you</div>
                                    <div class="ft-btn"
                                         i18n="xxx|yyy@@main.zzz"
                                         ft-set-active-panel="forFriends"
                                         [class.active]="forFriendsPanel.isActive">For friends &amp; family</div>
                                </div>
                            </div>
                            <ft-panel id="forYou" active="true" #forYouPanel>
                                <div class="ft-share-panel-view ft-share-panel-view-forYou">
                                    <div class="ft-container">
                                        <div class="ft-share-bonus ft-text-plus-2">
                                            {{incentiveText}}
                                        </div>
                                        <div class="ft-share-instructions" i18n="xxx|yyy@@main.zzz">
                                            Just share this message and your certificate will be emailed to you.
                                        </div>
                                        <div class="ft-share-image" [ftBackgroundImage]="property?.BackgroundPicture"></div>
                                        <div class="ft-share-message-container">
                                            <div class="ft-share-message">
                                                {{shareMessage}} <a ft-set-active-panel="forFriends">{{promotionCode | guestShareUrl}}</a>
                                            </div>
                                        </div>
                                        <div class="ft-share-to-links">
                                            <a class="ft-social-icon icon-facebook" i18n="xxx|yyy@@main.zzz"
                                               [ftDisabled]="!!(fbPromotions | async)?.length ? true: null"
                                               [disableElement]="false"
                                               (click)="shareTo(Facebook)">Facebook</a>
                                            <a class="ft-social-icon icon-twitter" i18n="xxx|yyy@@main.zzz"
                                               [ftDisabled]="!!(twPromotions | async)?.length ? true: null"
                                               [disableElement]="false"
                                               (click)="shareTo(Twitter)">Twitter</a>
                                            <a class="ft-social-icon icon-linkedin" i18n="xxx|yyy@@main.zzz"
                                               [ftDisabled]="!!(liPromotions | async)?.length ? true: null"
                                               [disableElement]="false"
                                               (click)="shareTo(Linkedin)">LinkedIn</a>
                                            <div class="ft-share-to-links-caption" i18n="xxx|yyy@@main.zzz">You can share to friends across several networks.</div>
                                        </div>
                                    </div>
                                </div>
                            </ft-panel>
                            <ft-panel id="forFriends" #forFriendsPanel>
                                <div class="ft-share-panel-view ft-share-panel-view-forFriends">
                                    <div class="ft-container">
                                        <div class="ft-share-results-image">
                                            <!-- If hosted landing has gallery -->
                                            <div *ngIf="hostedLandingPageHasGallery">
                                                <div class="ft-landing-image active"
                                                     [ftBackgroundImage]="property.BackgroundPicture">
                                                    <div class="ft-landing-message">
                                                        <div class="ft-heading">"Help inspire my trip to {{property?.City}}..."</div>
                                                        Give a <span>heart</span> to your favorite travel story below. I'll get ideas for my upcoming trip, plus there's a little bonus for you.
                                                        <div class="ft-profile-name">{{promoter | personName:'%f'}}</div>
                                                    </div>
                                                    <div class="ft-landing-gallery">
                                                        <div *ngFor="let photo of guestPhotos; index as i;"
                                                             class="ft-landing-gallery-photo ft-photo-{{i + 1}}" [ftBackgroundImage]="photo.PhotoUriLarge"></div>
                                                    </div>
                                                </div>
                                                <div class="ft-techspec ft-techspec-1"
                                                     [ftClickClass]="'active'">
                                                    <div class="ft-pulse"></div>
                                                    <div class="ft-bubble ft-bubble-right">
                                                        If your friend is looking to visit {{property?.City}} someday, they can save a bonus to use towards a future stay. It's just a small perk for friends of our guests.
                                                    </div>
                                                </div>
                                                <div class="ft-techspec ft-techspec-2"
                                                     [ftClickClass]="'active'">
                                                    <div class="ft-pulse"></div>
                                                    <div class="ft-bubble ft-bubble-left">
                                                        Your friends can help gather travel ideas by voting for their favorite travel stories from recent guests. We'll let you know what they love most.
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- If hosted landing is fallback -->
                                            <div *ngIf="!hostedLandingPageHasGallery">
                                                <div class="ft-landing-image active"
                                                     [ftBackgroundImage]="property.BackgroundPicture">
                                                    <div class="ft-landing-message">
                                                        <div class="ft-heading" i18n="xxx|yyy@@main.zzz">"I'm looking forward to {{property?.City}}...</div>
                                                        <span i18n="xxx|yyy@@main.zzz">and sharing a bonus you can save for a future trip!"</span>
                                                        <div class="ft-person-info">
                                                            {{promoter | personName:'%f'}}
                                                        </div>
                                                    </div>
                                                    <div class="ft-landing-form">
                                                        Where do you want your certificate sent to?
                                                        <div class="ft-landing-input" i18n="xxx|yyy@@main.zzz">First name</div>
                                                        <div class="ft-landing-input" i18n="xxx|yyy@@main.zzz">Last name</div>
                                                        <div class="ft-landing-input" i18n="xxx|yyy@@main.zzz">Email</div>
                                                        <div class="ft-landing-input ft-landing-btn" i18n="xxx|yyy@@main.zzz">Submit</div>
                                                    </div>
                                                </div>
                                                <div class="ft-techspec ft-techspec-3"
                                                     [ftClickClass]="'active'">
                                                    <div class="ft-pulse"></div>
                                                    <div class="ft-bubble ft-bubble-left">
                                                        If your friend is looking to visit {{property?.City}} someday, they can save a bonus to use towards a future stay. It's just a small perk for friends of our guests.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ft-share-results-description ft-text-plus-1" i18n="xxx|yyy@@main.zzz">
                                            When your friends click through your share link they'll visit a unique page made just for your trip.
                                            <br /><br />
                                            <div class="ft-text-minus-1">
                                                Click the <span class="ft-icon-pulse"></span> to learn more about it and
                                                <br />
                                                <a ft-set-active-panel="forYou">share whenever you're ready</a>.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ft-panel>
                        </div>
                    </ft-panels>
                </div>
                <div class="ft-share-view"
                     [ngClass]="{active: (screen | async) === SHARED_SCREEN}"
                    *ngIf="(screen | async) === SHARED_SCREEN">
                   <div class="ft-share-bonus ft-text-plus-3" i18n="xxx|yyy@@main.zzz">
                        Thanks for sharing!
                    </div>
                    <div class="ft-share-instructions" i18n="xxx|yyy@@main.zzz">
                        Please check your email for your certificate. Looking forward to your visit!
                    </div>
                    <div class="ft-btn ft-btn-continue" i18n="xxx|yyy@@main.zzz" (click)="onContinue()">
                        Continue
                        <ft-countdown [timeoutSeconds]="5" (onTimeout)="onContinue()"></ft-countdown>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>