.ft-confirmation-reopener {
    position: fixed;
    bottom: 0;
    left: 0;
    color: #fff;
    z-index: 9999;

    .ft-reopener-image {
        position: absolute;
        bottom: 0;
        left: 0;

        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 50vw;
            min-width: 320px;
            height: 100px;
            background-image: linear-gradient(to bottom left, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .66) 100%);
        }

        @media (max-width: 480px) {
            bottom: -30px;
        }

        .ft-photos-list {
            -moz-transform: rotate(30deg) skew(-10.9deg, -9deg);
            -ms-transform: rotate(30deg) skew(-10.9deg, -9deg);
            -o-transform: rotate(30deg) skew(-10.9deg, -9deg);
            -webkit-transform: rotate(30deg) skew(-10.9deg, -9deg);
            transform: rotate(30deg) skew(-10.9deg, -9deg);

            .ft-photo {
                position: absolute;
                background: center center no-repeat;
                background-size: cover;
                overflow: hidden;

                &:before {
                    content: "";
                    display: block;
                    padding-top: 75%;
                }
            }

            &.ft-count-3 {
                .ft-photo-1 {
                    width: 150px;
                    bottom: 10px;
                    left: -195px;
                }

                .ft-photo-2 {
                    width: 240px;
                    bottom: 0px;
                    left: -40px;

                    &:after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .66) 100%);
                    }
                }

                .ft-photo-3 {
                    width: 120px;
                    bottom: 60px;
                    left: 205px;
                }

                .ft-photo:not(.ft-photo-1):not(.ft-photo-2):not(.ft-photo-3) {
                    // Force hide all others. Shouldn't need this as elements should not be present in DOM, but just in case...
                    visibility: hidden;
                }
            }

            &.ft-count-5 {
                .ft-photo-1 {
                    width: 60px;
                    bottom: 130px;
                    left: -105px;
                }

                .ft-photo-2 {
                    width: 150px;
                    bottom: 10px;
                    left: -195px;
                }

                .ft-photo-3 {
                    width: 200px;
                    bottom: 60px;
                    left: -40px;

                    &:after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .66) 100%);
                    }
                }

                .ft-photo-4 {
                    width: 120px;
                    bottom: 80px;
                    left: 165px;
                }

                .ft-photo-5 {
                    width: 200px;
                    bottom: -95px;
                    left: -40px;
                }
            }

            &.ft-hotel-photo {
                // If fallback to hotel photo(s), use count-3 layout and vary background position
                .ft-photo {
                    background-size: 250%;
                }

                .ft-photo-1 {
                    width: 150px;
                    bottom: 10px;
                    left: -195px;
                    background-position: top left;
                }

                .ft-photo-2 {
                    width: 240px;
                    bottom: 0px;
                    left: -40px;
                    background-position: center center;

                    &:after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .66) 50%);
                    }
                }

                .ft-photo-3 {
                    width: 120px;
                    bottom: 60px;
                    left: 205px;
                    background-position: bottom right;
                }

                .ft-photo:not(.ft-photo-1):not(.ft-photo-2):not(.ft-photo-3) {
                    // Force hide all others. Shouldn't need this as elements should not be present in DOM, but just in case...
                    visibility: hidden;
                }
            }

            .ft-photo-details {
                display: none;
            }
        }
    }

    .ft-reopener-content {
        position: relative;
        font-weight: 500;
        margin: 25px 15px;
        cursor: pointer;

        a {
            font-weight: 700;
            display: inline-block;
            color: inherit;
            text-decoration: none;
        }
    }

    .ft-profile-pic,
    .ft-reopener-message {
        display: inline-block;
        vertical-align: middle;
    }

    .ft-profile-pic {
        margin-right: 10px;
    }

    .ft-reopener-message {
        max-width: 14em;
        line-height: 1.3;
        text-shadow: 0 1px 4px rgba(0, 0, 0, .66);
    }

    #ft-reopener-mobile-message {
        display: none;
    }

    #ft-reopener-desktop-message {
        display: block;
    }

    .ft-reopener-close {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 9999;
        background: rgba(0, 0, 0, .5);
        padding: 0 5px;
        font-family: brandon-grotesque, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;

        .ft-reopener-close-text {
            opacity: .7;
        }

        &:hover,
        &:focus {
            .ft-reopener-close-text {
                opacity: 1;
            }
        }
    }

    @media (max-width: 480px) {
        #ft-reopener-mobile-message {
            display: block;
        }

        #ft-reopener-desktop-message {
            display: none;
        }
    }
}
