.ft-confirmation-reopener {
  position: fixed;
  bottom: 0;
  left: 0;
  color: #fff;
  z-index: 9999;
}
.ft-confirmation-reopener .ft-reopener-image {
  position: absolute;
  bottom: 0;
  left: 0;
}
.ft-confirmation-reopener .ft-reopener-image:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50vw;
  min-width: 320px;
  height: 100px;
  background-image: linear-gradient(to bottom left, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.66) 100%);
}
@media (max-width: 480px) {
  .ft-confirmation-reopener .ft-reopener-image {
    bottom: -30px;
  }
}
.ft-confirmation-reopener .ft-reopener-image .ft-photos-list {
  -moz-transform: rotate(30deg) skew(-10.9deg, -9deg);
  -ms-transform: rotate(30deg) skew(-10.9deg, -9deg);
  -o-transform: rotate(30deg) skew(-10.9deg, -9deg);
  -webkit-transform: rotate(30deg) skew(-10.9deg, -9deg);
  transform: rotate(30deg) skew(-10.9deg, -9deg);
}
.ft-confirmation-reopener .ft-reopener-image .ft-photos-list .ft-photo {
  position: absolute;
  background: center center no-repeat;
  background-size: cover;
  overflow: hidden;
}
.ft-confirmation-reopener .ft-reopener-image .ft-photos-list .ft-photo:before {
  content: "";
  display: block;
  padding-top: 75%;
}
.ft-confirmation-reopener .ft-reopener-image .ft-photos-list.ft-count-3 .ft-photo-1 {
  width: 150px;
  bottom: 10px;
  left: -195px;
}
.ft-confirmation-reopener .ft-reopener-image .ft-photos-list.ft-count-3 .ft-photo-2 {
  width: 240px;
  bottom: 0px;
  left: -40px;
}
.ft-confirmation-reopener .ft-reopener-image .ft-photos-list.ft-count-3 .ft-photo-2:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.66) 100%);
}
.ft-confirmation-reopener .ft-reopener-image .ft-photos-list.ft-count-3 .ft-photo-3 {
  width: 120px;
  bottom: 60px;
  left: 205px;
}
.ft-confirmation-reopener .ft-reopener-image .ft-photos-list.ft-count-3 .ft-photo:not(.ft-photo-1):not(.ft-photo-2):not(.ft-photo-3) {
  visibility: hidden;
}
.ft-confirmation-reopener .ft-reopener-image .ft-photos-list.ft-count-5 .ft-photo-1 {
  width: 60px;
  bottom: 130px;
  left: -105px;
}
.ft-confirmation-reopener .ft-reopener-image .ft-photos-list.ft-count-5 .ft-photo-2 {
  width: 150px;
  bottom: 10px;
  left: -195px;
}
.ft-confirmation-reopener .ft-reopener-image .ft-photos-list.ft-count-5 .ft-photo-3 {
  width: 200px;
  bottom: 60px;
  left: -40px;
}
.ft-confirmation-reopener .ft-reopener-image .ft-photos-list.ft-count-5 .ft-photo-3:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.66) 100%);
}
.ft-confirmation-reopener .ft-reopener-image .ft-photos-list.ft-count-5 .ft-photo-4 {
  width: 120px;
  bottom: 80px;
  left: 165px;
}
.ft-confirmation-reopener .ft-reopener-image .ft-photos-list.ft-count-5 .ft-photo-5 {
  width: 200px;
  bottom: -95px;
  left: -40px;
}
.ft-confirmation-reopener .ft-reopener-image .ft-photos-list.ft-hotel-photo .ft-photo {
  background-size: 250%;
}
.ft-confirmation-reopener .ft-reopener-image .ft-photos-list.ft-hotel-photo .ft-photo-1 {
  width: 150px;
  bottom: 10px;
  left: -195px;
  background-position: top left;
}
.ft-confirmation-reopener .ft-reopener-image .ft-photos-list.ft-hotel-photo .ft-photo-2 {
  width: 240px;
  bottom: 0px;
  left: -40px;
  background-position: center center;
}
.ft-confirmation-reopener .ft-reopener-image .ft-photos-list.ft-hotel-photo .ft-photo-2:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.66) 50%);
}
.ft-confirmation-reopener .ft-reopener-image .ft-photos-list.ft-hotel-photo .ft-photo-3 {
  width: 120px;
  bottom: 60px;
  left: 205px;
  background-position: bottom right;
}
.ft-confirmation-reopener .ft-reopener-image .ft-photos-list.ft-hotel-photo .ft-photo:not(.ft-photo-1):not(.ft-photo-2):not(.ft-photo-3) {
  visibility: hidden;
}
.ft-confirmation-reopener .ft-reopener-image .ft-photos-list .ft-photo-details {
  display: none;
}
.ft-confirmation-reopener .ft-reopener-content {
  position: relative;
  font-weight: 500;
  margin: 25px 15px;
  cursor: pointer;
}
.ft-confirmation-reopener .ft-reopener-content a {
  font-weight: 700;
  display: inline-block;
  color: inherit;
  text-decoration: none;
}
.ft-confirmation-reopener .ft-profile-pic,
.ft-confirmation-reopener .ft-reopener-message {
  display: inline-block;
  vertical-align: middle;
}
.ft-confirmation-reopener .ft-profile-pic {
  margin-right: 10px;
}
.ft-confirmation-reopener .ft-reopener-message {
  max-width: 14em;
  line-height: 1.3;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.66);
}
.ft-confirmation-reopener #ft-reopener-mobile-message {
  display: none;
}
.ft-confirmation-reopener #ft-reopener-desktop-message {
  display: block;
}
.ft-confirmation-reopener .ft-reopener-close {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);
  padding: 0 5px;
  font-family: brandon-grotesque, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
.ft-confirmation-reopener .ft-reopener-close .ft-reopener-close-text {
  opacity: .7;
}
.ft-confirmation-reopener .ft-reopener-close:hover .ft-reopener-close-text,
.ft-confirmation-reopener .ft-reopener-close:focus .ft-reopener-close-text {
  opacity: 1;
}
@media (max-width: 480px) {
  .ft-confirmation-reopener #ft-reopener-mobile-message {
    display: block;
  }
  .ft-confirmation-reopener #ft-reopener-desktop-message {
    display: none;
  }
}
