<div class="ft-confirmation-component ft-confirmation-reopener">
    <div class="ft-reopener-image">
        <ft-guest-photos [maxGuestPhotos]="5"></ft-guest-photos>
    </div>
    <div class="ft-reopener-close" (click)="hide()">
        <div class="ft-reopener-close-text">Hide</div>
    </div>
    <div class="ft-reopener-content" (click)="reopen()">
        <div class="ft-profile-pic"
             *ngIf="!!property?.GeneralManager?.ProfileImage"
             [ftBackgroundImage]="property?.GeneralManager?.ProfileImage"></div>
        <div class="ft-reopener-message" i18n="xxx|yyy@reopener.zzz">
            Share the excitement and receive a bonus.
            <a>Take a look ➞</a>
        </div>
    </div>
</div>