<div class="ft-confirmation-component ft-confirmation-intro ft-overlay">
    <div class="ft-intro-image">
        <ft-guest-photos [maxGuestPhotos]="10"></ft-guest-photos>
    </div>
    <div class="ft-v-align-container">
        <div class="ft-v-align-content">
            <div class="ft-intro-content">
                <div class="ft-container">
                    <div class="ft-greeting-message" i18n="Guest greeting message@@intro.greetingMessage1">
                        "{{promoter | personName:'%f'}}, glad you'll be staying with us...
                    </div>
                    <div class="ft-greeting-message-jumbo ft-text-plus-3" i18n="Guest greeting message@@intro.greetingMessage2">
                        We're thrilled to be your host for the journey ahead.
                    </div>
                    <div class="ft-greeting-message" i18n="Guest greeting message@@intro.greetingMessage3">
                        To mark this occasion, we've set aside something special to help you kick off your trip."
                    </div>
                    <a class="ft-btn ft-btn-lg ft-btn-start" (click)="openMainView()" i18n="Take a look action text@@intro.takeALook">
                        <span>Take a look</span>
                    </a>
                    <div class="ft-text-minus-1">
                        Or check it out after you <a (click)="openReopener()">view your confirmation</a>.
                    </div>
                    <div class="ft-signature">
                        <div class="ft-profile-pic"
                             *ngIf="!!property?.GeneralManager?.ProfileImage || !!property?.BackgroundPicture"
                             [ftBackgroundImage]="property?.GeneralManager?.ProfileImage" [fallbackImage]="property?.BackgroundPicture"></div>
                        <div class="ft-person-info" *ngIf="!!property?.GeneralManager">
                            <div class="ft-profile-name ft-text-plus-1">{{property?.GeneralManager | personName:'%f %l'}}</div>
                            <div class="ft-person-title ft-text-minus-1" i18n="xxx|yyy@@intro.zzz">General Manager, {{property?.DisplayName}}</div>
                        </div>
                        <div class="ft-person-info" *ngIf="!property?.GeneralManager">
                            <div class="ft-profile-name ft-text-plus-1">The team at {{property?.DisplayName}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ft-intro-timer"
         [ngClass]="{'ft-is-paused': isPaused}"
         *ngIf="timer?.Enabled">
        <div class="ft-pause-button">
            <ft-countdown [timeoutSeconds]="timer.Duration" (onTimeout)="timerTimeout()" (onPause)="pause()" [canPause]="true"></ft-countdown>
        </div>
    </div>
</div>