.ft-confirmation-intro {
    background: #fff;
    background: linear-gradient(to bottom, rgba(255, 255, 255, .9) 0%, #fff 66%, #D3D6D9 100%);

    .ft-intro-image {
        /* Scale image based on viewport widths */
        position: fixed;
        top: 50%;
        left: 0;

        @media (min-width: 540px) {
            top: 50%;
            right: 50%;
            left: auto;
            -moz-transform: scale(.7);
            -ms-transform: scale(.7);
            -o-transform: scale(.7);
            -webkit-transform: scale(.7);
            transform: scale(.7);
        }

        @media (min-width: 768px) {
            -moz-transform: scale(.75);
            -ms-transform: scale(.75);
            -o-transform: scale(.75);
            -webkit-transform: scale(.75);
            transform: scale(.75);
        }

        @media (min-width: 992px) {
            -moz-transform: scale(.8);
            -ms-transform: scale(.8);
            -o-transform: scale(.8);
            -webkit-transform: scale(.8);
            transform: scale(.8);
        }

        @media (min-width: 1200px) {
            -moz-transform: scale(.9);
            -ms-transform: scale(.9);
            -o-transform: scale(.9);
            -webkit-transform: scale(.9);
            transform: scale(.9);
        }

        @media (min-width: 1440px) {
            -moz-transform: scale(.95);
            -ms-transform: scale(.95);
            -o-transform: scale(.95);
            -webkit-transform: scale(.95);
            transform: scale(.95);
        }

        @media (min-width: 1600px) {
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            -webkit-transform: scale(1);
            transform: scale(1);
        }

        @media (max-width: 539px) {
            &:after {
                content: "";
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: #fff;
                background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 33%, rgba(255, 255, 255, .66) 100%);
            }
        }

        .ft-photos-list {
            -moz-transform: rotate(30deg) skew(-10.9deg, -9deg);
            -ms-transform: rotate(30deg) skew(-10.9deg, -9deg);
            -o-transform: rotate(30deg) skew(-10.9deg, -9deg);
            -webkit-transform: rotate(30deg) skew(-10.9deg, -9deg);
            transform: rotate(30deg) skew(-10.9deg, -9deg);

            .ft-photo {
                position: absolute;
                background: center center no-repeat;
                background-size: cover;
                box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
                overflow: hidden;

                &:before {
                    content: "";
                    display: block;
                    padding-top: 75%;
                }
            }

            &.ft-count-3 {
                .ft-photo-1 {
                    width: 250px;
                    top: 170px;
                    left: -300px;
                }

                .ft-photo-2 {
                    width: 350px;
                    top: 290px;
                    left: -690px;
                }

                .ft-photo-3 {
                    width: 500px;
                    top: -110px;
                    left: -830px;
                }

                .ft-photo:not(.ft-photo-1):not(.ft-photo-2):not(.ft-photo-3) {
                    // Force hide all others. Shouldn't need this as elements should not be present in DOM, but just in case...
                    visibility: hidden;
                }
            }

            &.ft-count-5 {
                .ft-photo-1 {
                    width: 300px;
                    top: 470px;
                    left: 40px;
                }

                .ft-photo-2 {
                    width: 450px;
                    top: 390px;
                    left: -450px;
                }

                .ft-photo-3 {
                    width: 500px;
                    top: -10px;
                    left: -810px;
                }

                .ft-photo-4 {
                    width: 400px;
                    top: -350px;
                    left: -870px;
                }

                .ft-photo-5 {
                    width: 320px;
                    top: -630px;
                    left: -650px;
                }

                .ft-photo:not(.ft-photo-1):not(.ft-photo-2):not(.ft-photo-3):not(.ft-photo-4):not(.ft-photo-5) {
                    // Force hide all others. Shouldn't need this as elements should not be present in DOM, but just in case...
                    visibility: hidden;
                }
            }

            &.ft-count-10 {
                .ft-photo-1 {
                    width: 300px;
                    top: 320px;
                    left: 240px;
                }

                .ft-photo-2 {
                    width: 450px;
                    top: 380px;
                    left: -240px;
                }

                .ft-photo-3 {
                    width: 350px;
                    top: 380px;
                    left: -620px;
                }

                .ft-photo-4 {
                    width: 350px;
                    top: 100px;
                    left: -550px;
                }

                .ft-photo-5 {
                    width: 450px;
                    top: -260px;
                    left: -780px;
                }

                .ft-photo-6 {
                    width: 300px;
                    top: -540px;
                    left: -620px;
                }

                .ft-photo-7 {
                    width: 200px;
                    top: -430px;
                    left: -840px;
                }

                .ft-photo-8 {
                    width: 250px;
                    top: -620px;
                    left: -270px;
                }

                .ft-photo-9 {
                    width: 250px;
                    top: -260px;
                    left: -1050px;
                }

                .ft-photo-10 {
                    width: 350px;
                    top: 100px;
                    left: -930px;
                }
            }

            &.ft-hotel-photo {
                // If fallback to hotel photo(s), use count-3 layout and vary background position
                .ft-photo {
                    background-size: 250%;
                }

                .ft-photo-1 {
                    width: 250px;
                    top: 170px;
                    left: -300px;
                    background-position: top right;
                }

                .ft-photo-2 {
                    width: 350px;
                    top: 290px;
                    left: -690px;
                    background-position: bottom left;
                }

                .ft-photo-3 {
                    width: 500px;
                    top: -110px;
                    left: -830px;
                    background-position: center center;
                }

                .ft-photo:not(.ft-photo-1):not(.ft-photo-2):not(.ft-photo-3) {
                    // Force hide all others. Shouldn't need this as elements should not be present in DOM, but just in case...
                    visibility: hidden;
                }
            }

            .ft-photo-details {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                padding: 10px;
                font-size: 12px;
                line-height: 1.4;
                color: #fff;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .66) 100%);
            }

            .ft-profile-pic {
                width: 40px;
                height: 40px;
                margin-bottom: .5em;
            }

            .ft-photo-caption {
                max-height: 4em;
                overflow: hidden;
            }

            @media (max-width: 539px) {
                .ft-photo-1 {
                    width: 600px !important;
                    top: 70px !important;
                    left: 40px !important;
                }

                .ft-photo-2 {
                    width: 400px !important;
                    top: -240px !important;
                    left: 240px !important;
                }

                .ft-photo-3 {
                    width: 400px !important;
                    top: -240px !important;
                    left: -170px !important;
                }

                .ft-photo:not(.ft-photo-1):not(.ft-photo-2):not(.ft-photo-3) {
                    // Force hide all others for mobile view, regardless of how many are loaded in the photo count.
                    visibility: hidden;
                }
            }
        }
    }

    .ft-intro-content {
        position: relative;
        margin-left: 0 auto;
        padding: 60px 0;
        text-align: center;

        @media (min-width: 540px) {
            margin-left: 35%;
            text-align: left;
        }

        @media (min-width: 768px) {
            margin-left: 45%;
        }

        @media (min-width: 1200px) {
            margin-left: 45%;
        }
    }

    .ft-greeting-message {
        max-width: 26em;
        margin: 0 auto;
    }

    .ft-greeting-message-jumbo {
        max-width: 14em;
        margin: 0 auto .2em;
    }

    .ft-btn-start {
        position: relative;
        min-width: 200px;
        margin: 2em 0 1em;
        color: #4A90E2;
        background-color: transparent;
        border-color: currentColor;
        box-shadow: none;

        span {
            display: block;
            -moz-transition: transform .3s cubic-bezier(0, 0, 0.1, 1);
            -o-transition: transform .3s cubic-bezier(0, 0, 0.1, 1);
            -webkit-transition: transform .3s cubic-bezier(0, 0, 0.1, 1);
            transition: transform .3s cubic-bezier(0, 0, 0.1, 1);
        }

        &:hover,
        &:focus {
            span {
                -moz-transform: scale(1.05);
                -ms-transform: scale(1.05);
                -o-transform: scale(1.05);
                -webkit-transform: scale(1.05);
                transform: scale(1.05);
            }
        }
    }

    .ft-signature {
        margin-top: 2em;
    }

    .ft-intro-timer {
        position: fixed;
        bottom: 0;
        right: 30px;
        overflow: hidden;

        &:after {
            // button platform
            content: "";
            position: relative;
            bottom: -4px;
            display: block;
            width: 100%;
            height: 8px;
            background-color: #222;
            border-radius: 4px;
        }

        .ft-pause-button {
            position: relative;
            width: 40px;
            height: 40px;
            max-height: 40px; // max-height used for animation hack.
            margin: 15px;
            cursor: pointer;

            &:hover,
            &:focus {
                .ft-icon-pause {
                    opacity: 1;
                }
            }

            &:before {
                // button ring
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 3px solid #000;
                border-radius: 50%;
                opacity: .1;
            }
        }
    }

    @media(min-width: 540px) {
        .ft-greeting-message,
        .ft-greeting-message-jumbo {
            margin-left: 0;
            margin-right: 0;
        }
    }

    @media (min-width: 992px) {
        .ft-profile-pic {
            width: 80px;
            height: 80px;
        }
    }
}
