.ft-confirmation-intro {
  background: #fff;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%, #fff 66%, #D3D6D9 100%);
}
.ft-confirmation-intro .ft-intro-image {
  /* Scale image based on viewport widths */
  position: fixed;
  top: 50%;
  left: 0;
}
@media (min-width: 540px) {
  .ft-confirmation-intro .ft-intro-image {
    top: 50%;
    right: 50%;
    left: auto;
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
}
@media (min-width: 768px) {
  .ft-confirmation-intro .ft-intro-image {
    -moz-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
}
@media (min-width: 992px) {
  .ft-confirmation-intro .ft-intro-image {
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@media (min-width: 1200px) {
  .ft-confirmation-intro .ft-intro-image {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@media (min-width: 1440px) {
  .ft-confirmation-intro .ft-intro-image {
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}
@media (min-width: 1600px) {
  .ft-confirmation-intro .ft-intro-image {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@media (max-width: 539px) {
  .ft-confirmation-intro .ft-intro-image:after {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    background: linear-gradient(to bottom, #ffffff 33%, rgba(255, 255, 255, 0.66) 100%);
  }
}
.ft-confirmation-intro .ft-intro-image .ft-photos-list {
  -moz-transform: rotate(30deg) skew(-10.9deg, -9deg);
  -ms-transform: rotate(30deg) skew(-10.9deg, -9deg);
  -o-transform: rotate(30deg) skew(-10.9deg, -9deg);
  -webkit-transform: rotate(30deg) skew(-10.9deg, -9deg);
  transform: rotate(30deg) skew(-10.9deg, -9deg);
}
.ft-confirmation-intro .ft-intro-image .ft-photos-list .ft-photo {
  position: absolute;
  background: center center no-repeat;
  background-size: cover;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.ft-confirmation-intro .ft-intro-image .ft-photos-list .ft-photo:before {
  content: "";
  display: block;
  padding-top: 75%;
}
.ft-confirmation-intro .ft-intro-image .ft-photos-list.ft-count-3 .ft-photo-1 {
  width: 250px;
  top: 170px;
  left: -300px;
}
.ft-confirmation-intro .ft-intro-image .ft-photos-list.ft-count-3 .ft-photo-2 {
  width: 350px;
  top: 290px;
  left: -690px;
}
.ft-confirmation-intro .ft-intro-image .ft-photos-list.ft-count-3 .ft-photo-3 {
  width: 500px;
  top: -110px;
  left: -830px;
}
.ft-confirmation-intro .ft-intro-image .ft-photos-list.ft-count-3 .ft-photo:not(.ft-photo-1):not(.ft-photo-2):not(.ft-photo-3) {
  visibility: hidden;
}
.ft-confirmation-intro .ft-intro-image .ft-photos-list.ft-count-5 .ft-photo-1 {
  width: 300px;
  top: 470px;
  left: 40px;
}
.ft-confirmation-intro .ft-intro-image .ft-photos-list.ft-count-5 .ft-photo-2 {
  width: 450px;
  top: 390px;
  left: -450px;
}
.ft-confirmation-intro .ft-intro-image .ft-photos-list.ft-count-5 .ft-photo-3 {
  width: 500px;
  top: -10px;
  left: -810px;
}
.ft-confirmation-intro .ft-intro-image .ft-photos-list.ft-count-5 .ft-photo-4 {
  width: 400px;
  top: -350px;
  left: -870px;
}
.ft-confirmation-intro .ft-intro-image .ft-photos-list.ft-count-5 .ft-photo-5 {
  width: 320px;
  top: -630px;
  left: -650px;
}
.ft-confirmation-intro .ft-intro-image .ft-photos-list.ft-count-5 .ft-photo:not(.ft-photo-1):not(.ft-photo-2):not(.ft-photo-3):not(.ft-photo-4):not(.ft-photo-5) {
  visibility: hidden;
}
.ft-confirmation-intro .ft-intro-image .ft-photos-list.ft-count-10 .ft-photo-1 {
  width: 300px;
  top: 320px;
  left: 240px;
}
.ft-confirmation-intro .ft-intro-image .ft-photos-list.ft-count-10 .ft-photo-2 {
  width: 450px;
  top: 380px;
  left: -240px;
}
.ft-confirmation-intro .ft-intro-image .ft-photos-list.ft-count-10 .ft-photo-3 {
  width: 350px;
  top: 380px;
  left: -620px;
}
.ft-confirmation-intro .ft-intro-image .ft-photos-list.ft-count-10 .ft-photo-4 {
  width: 350px;
  top: 100px;
  left: -550px;
}
.ft-confirmation-intro .ft-intro-image .ft-photos-list.ft-count-10 .ft-photo-5 {
  width: 450px;
  top: -260px;
  left: -780px;
}
.ft-confirmation-intro .ft-intro-image .ft-photos-list.ft-count-10 .ft-photo-6 {
  width: 300px;
  top: -540px;
  left: -620px;
}
.ft-confirmation-intro .ft-intro-image .ft-photos-list.ft-count-10 .ft-photo-7 {
  width: 200px;
  top: -430px;
  left: -840px;
}
.ft-confirmation-intro .ft-intro-image .ft-photos-list.ft-count-10 .ft-photo-8 {
  width: 250px;
  top: -620px;
  left: -270px;
}
.ft-confirmation-intro .ft-intro-image .ft-photos-list.ft-count-10 .ft-photo-9 {
  width: 250px;
  top: -260px;
  left: -1050px;
}
.ft-confirmation-intro .ft-intro-image .ft-photos-list.ft-count-10 .ft-photo-10 {
  width: 350px;
  top: 100px;
  left: -930px;
}
.ft-confirmation-intro .ft-intro-image .ft-photos-list.ft-hotel-photo .ft-photo {
  background-size: 250%;
}
.ft-confirmation-intro .ft-intro-image .ft-photos-list.ft-hotel-photo .ft-photo-1 {
  width: 250px;
  top: 170px;
  left: -300px;
  background-position: top right;
}
.ft-confirmation-intro .ft-intro-image .ft-photos-list.ft-hotel-photo .ft-photo-2 {
  width: 350px;
  top: 290px;
  left: -690px;
  background-position: bottom left;
}
.ft-confirmation-intro .ft-intro-image .ft-photos-list.ft-hotel-photo .ft-photo-3 {
  width: 500px;
  top: -110px;
  left: -830px;
  background-position: center center;
}
.ft-confirmation-intro .ft-intro-image .ft-photos-list.ft-hotel-photo .ft-photo:not(.ft-photo-1):not(.ft-photo-2):not(.ft-photo-3) {
  visibility: hidden;
}
.ft-confirmation-intro .ft-intro-image .ft-photos-list .ft-photo-details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  font-size: 12px;
  line-height: 1.4;
  color: #fff;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.66) 100%);
}
.ft-confirmation-intro .ft-intro-image .ft-photos-list .ft-profile-pic {
  width: 40px;
  height: 40px;
  margin-bottom: .5em;
}
.ft-confirmation-intro .ft-intro-image .ft-photos-list .ft-photo-caption {
  max-height: 4em;
  overflow: hidden;
}
@media (max-width: 539px) {
  .ft-confirmation-intro .ft-intro-image .ft-photos-list .ft-photo-1 {
    width: 600px !important;
    top: 70px !important;
    left: 40px !important;
  }
  .ft-confirmation-intro .ft-intro-image .ft-photos-list .ft-photo-2 {
    width: 400px !important;
    top: -240px !important;
    left: 240px !important;
  }
  .ft-confirmation-intro .ft-intro-image .ft-photos-list .ft-photo-3 {
    width: 400px !important;
    top: -240px !important;
    left: -170px !important;
  }
  .ft-confirmation-intro .ft-intro-image .ft-photos-list .ft-photo:not(.ft-photo-1):not(.ft-photo-2):not(.ft-photo-3) {
    visibility: hidden;
  }
}
.ft-confirmation-intro .ft-intro-content {
  position: relative;
  margin-left: 0 auto;
  padding: 60px 0;
  text-align: center;
}
@media (min-width: 540px) {
  .ft-confirmation-intro .ft-intro-content {
    margin-left: 35%;
    text-align: left;
  }
}
@media (min-width: 768px) {
  .ft-confirmation-intro .ft-intro-content {
    margin-left: 45%;
  }
}
@media (min-width: 1200px) {
  .ft-confirmation-intro .ft-intro-content {
    margin-left: 45%;
  }
}
.ft-confirmation-intro .ft-greeting-message {
  max-width: 26em;
  margin: 0 auto;
}
.ft-confirmation-intro .ft-greeting-message-jumbo {
  max-width: 14em;
  margin: 0 auto .2em;
}
.ft-confirmation-intro .ft-btn-start {
  position: relative;
  min-width: 200px;
  margin: 2em 0 1em;
  color: #4A90E2;
  background-color: transparent;
  border-color: currentColor;
  box-shadow: none;
}
.ft-confirmation-intro .ft-btn-start span {
  display: block;
  -moz-transition: transform 0.3s cubic-bezier(0, 0, 0.1, 1);
  -o-transition: transform 0.3s cubic-bezier(0, 0, 0.1, 1);
  -webkit-transition: transform 0.3s cubic-bezier(0, 0, 0.1, 1);
  transition: transform 0.3s cubic-bezier(0, 0, 0.1, 1);
}
.ft-confirmation-intro .ft-btn-start:hover span,
.ft-confirmation-intro .ft-btn-start:focus span {
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.ft-confirmation-intro .ft-signature {
  margin-top: 2em;
}
.ft-confirmation-intro .ft-intro-timer {
  position: fixed;
  bottom: 0;
  right: 30px;
  overflow: hidden;
}
.ft-confirmation-intro .ft-intro-timer:after {
  content: "";
  position: relative;
  bottom: -4px;
  display: block;
  width: 100%;
  height: 8px;
  background-color: #222;
  border-radius: 4px;
}
.ft-confirmation-intro .ft-intro-timer .ft-pause-button {
  position: relative;
  width: 40px;
  height: 40px;
  max-height: 40px;
  margin: 15px;
  cursor: pointer;
}
.ft-confirmation-intro .ft-intro-timer .ft-pause-button:hover .ft-icon-pause,
.ft-confirmation-intro .ft-intro-timer .ft-pause-button:focus .ft-icon-pause {
  opacity: 1;
}
.ft-confirmation-intro .ft-intro-timer .ft-pause-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #000;
  border-radius: 50%;
  opacity: .1;
}
@media (min-width: 540px) {
  .ft-confirmation-intro .ft-greeting-message,
  .ft-confirmation-intro .ft-greeting-message-jumbo {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  .ft-confirmation-intro .ft-profile-pic {
    width: 80px;
    height: 80px;
  }
}
